<h1>Fahrerverwaltung</h1>

<table>
  <thead>
    <tr>
      <% teams.forEach(t => { %>
        <th><%= t.name %></th>
      <% }) %>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% teams.forEach(t => { %>
        <td>
          <% t.drivers.forEach(d => { %>
            <div>
              <%= d %>
              <button onclick="del('<%= t.name %>','<%= d %>')">X</button>
            </div>
          <% }) %>

          <input placeholder="Add driver"
            onkeydown="if(event.key==='Enter') add('<%= t.name %>', this.value)">
        </td>
      <% }) %>
    </tr>
  </tbody>
</table>

<script>
function add(team, driver) {
  fetch('/drivers/add', {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({team, driver})
  }).then(() => location.reload());
}

function del(team, driver) {
  fetch('/drivers/delete', {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({team, driver})
  }).then(() => location.reload());
}
</script>
